<h2>Current Clients:</h2>

<% if @clients && Stylist.all.any? %>
<div class="row">
<table>
  <tr>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Address:</th>
    <th>Hair Color:</th>
    <th>Phone:</th>
    <th>Stylist:</th>
    <th>Show:</th>
    <th>Edit:</th>
    <th>Delete:</th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.fname %></td>
      <td><%= client.lname %></td>
      <td><%= client.address %></td>
      <td><%= client.hair_color %></td>
      <td><%= client.phone %></td>
      <td><%= Stylist.find((client.stylist_id).to_i).lname %>, <%= Stylist.find((client.stylist_id).to_i).fname %></td>
      <td><a href="/client/<%= client.id %>">View</a></td>
      <td><a href="/client/<%= client.id %>/edit">Update</a></td>
      <td><a href="/clients/<%= client.id %>">Destroy</a></td>
    </tr>
  <% end %>
</table>

</div>
<% else %>
  <p>
    You need to make a stylist first!
  </p>
<% end %>

<a class="button" href="/client/new">Add a new client</a>
